@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Rationale&display=swap');

:root {
  --ion-font-family: 'Poppins', sans-serif;

  --ion-color-primary: #0088ff;
  --ion-color-primary-rgb: 0, 136, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0078e0;
  --ion-color-primary-tint: #1a94ff;

  --ion-color-secondary: #0c2a92;
  --ion-color-secondary-rgb: 12, 42, 146;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0b2580;
  --ion-color-secondary-tint: #243f9d;

  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-border-color: #d9d9d9;

  --ion-tab-bar-background: #ffffff;
  --ion-tab-bar-color-selected: #0088ff;
}
